{{!--Events by Laura--}}
<link rel="stylesheet" href="./css/events.css"/>
<div class="container-fluid">
    <header class="jumbotron jumbotron-flud p-3 mb-2 bg-primary>.bg-primary">
      <img src="./assets/images/PV Logo - Copy.PNG" alt="PV blog logo" style="width:145px; height:150.97px; float:left; margin-left: 50px; margin-top: 12px;">
      <h1 class="display-1 text-center">Parent View</h1> 
         
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./community">Community</a>
                </li>
                <li class="btn" id='logout' type="submit">Logout</li>    
            </ul>
        </nav>      
    </header>
  </div>  
    
<div class="box">
  <div id="mysearch">
  <span id="searchevents">   
    <img src="./assets/Images/Events_Banner.PNG" alt="Background Picture showing various activities and events" style="width:99%;height:400px;background-position: 0%;"></span>
  </div>
  <h2>Venues and Events below:</h2>
    <section>
      <div id="mysearch" class="container">
        <span id="localvenues"><img src="./assets/Images/LocalVenuesPic.PNG" alt="Words Local Venues with building image" style="width:50%;height:60%"></span>
          <p id="shawdow">Select an option to get results</p>
          <select name="venue" id="venue">
            <option value="activitytype">Activity Type</option>
            <option value="city">City</option>
            <option value="state">State</option>
            <option value="venue">Venue Name</option>
         </select>
         <a element class = "pure-button"><button button class="button-foo" id="lvenue">Click to Get Results</button></a></div>
        </div>
     <div><span id = "EventsLocal" class="theResponse"></span></div>
     <div id="mysearch" class="container">
      <span id="searchevents"><img src="./assets/Images/SearchEventsPic.PNG" alt="Words Search Events with map pin" style="width:50%;height:60%"> </span>
       <p id="shawdow" ><a href='https://cse.google.com/cse?cx=7516cfc4d0e364efe'>Search more activies and events click here</a</p>
</div>


<!-- Intentional footer design to not be easily noticed like a watermark-->
<footer class= "footer">
  <section class="Recap">
      <ul id="Credit">UOFA Project2</ul>
        <ul>Events page completed by Laura Sandura</ul> 
          <ul>Team Members - Sonny, Alexia, and Precious</ul>
            <ul>Project GitHub: github.com/alexia/manticore</a>
            <ul>Programmable Search Engine Integration with Google: programmablesearchengine.google.com</ul>
      <ul>2022 @ All Rights Reserved</ul>
    </section>
 </footer>
 </div>


 