
<div class="container-fluid">
    <header class="jumbotron jumbotron-flud p-3 mb-2 bg-primary>.bg-primary">
        <img src="./assets/images/PV Logo - Copy.PNG" alt="PV blog logo" style="width:145px; height:150.97px; float:left; margin-left: 50px; margin-top: 12px;">
        <h1 class="display-1 text-center">Parent View</h1>          
        <nav>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/resources">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./community">Community</a>
                </li>
                <li class="btn" id='logout' type="submit">Logout</li>    
            </ul>
        </nav>      
    </header>

    <main class="container-fluid ">
        <section class="mt-5 pt-5">
            <div class="d-flex flex-row ">
                <div class="col-sm">     
                    <div class="card-header text-center " style="width: 25rem">                    
                        <h2>Resources</h2>                    
                    </div>
                    <div class="list-group" ><img src="./assets/images/Resources.jpg" style="width: 25rem"></div>
                </div>
                <div class="col-sm">
                    <div class="card-header" style="width: 29.5rem">
                        <h2 class="text-center">Events</h2>
                    </div>
                    <div class="list-group"><img src="./assets/images/events.jpg" style="width: 29.5rem"></div>
                </div>
                <div class="col-sm">
                    <div class="card-header" style="width: 23rem">
                        <h2 class="text-center">Community</h2>                    
                </div>
                    <div class="list-group"><img src="./assets/images/community.jpg" style="width: 23rem"></div>
                </div>
            </div>  
        </section>
    </main>
    <script src="./js/logout.js"></script>
</div>

